In [18]:
import pandas as pd

In [19]:
# Read the CSV file with a semicolon delimiter
employment_df = pd.read_csv('indemployment-eng.csv')

In [27]:
employment_df

,Indigenous group 1,Unnamed: 1,2019,2020,2021,2022,2023
0,Indigenous population,"Total, all industries 4",639.3,604.1,679.2,754.7,750.4
1,Indigenous population,Goods-producing sector 5,143.5,139.8,160.4,176.6,172.8
2,Indigenous population,"Agriculture, natural resources and utilities 6",38.5,36.1,40.7,45.9,45.4
3,Indigenous population,Construction,65.2,60.8,64.2,79.1,79.5
4,Indigenous population,Manufacturing,39.9,42.9,55.5,51.7,47.9
5,Indigenous population,Services-producing sector 7,495.8,464.4,518.7,578.1,577.6
6,Indigenous population,Wholesale and retail trade,93.3,95.6,107.4,112.1,115.3
7,Indigenous population,Transportation and warehousing,36.6,33.4,37.8,40.3,35.5
8,Indigenous population,"Finance, insurance, real estate, rental and le...",25.7,19.5,28.0,29.4,27.7
9,Indigenous population,"Professional, scientific and technical services",25.9,23.4,28.5,32.5,33.1
10,Indigenous population,"Business, building and other support services 8",29.9,21.4,28.7,26.9,26.3
11,Indigenous population,Educational services,38.0,37.2,43.6,60.4,53.1
12,Indigenous population,Health care and social assistance,93.9,92.8,102.7,110.4,113.9
13,Indigenous population,"Information, culture and recreation",25.8,20.6,20.0,28.2,23.6
14,Indigenous population,Accommodation and food services,54.1,40.6,42.1,47.4,50.2
15,Indigenous population,Other services (except public administration),29.2,32.3,30.3,34.0,32.2
16,Indigenous population,Public administration,43.4,47.7,49.6,56.5,66.7
17,Non-Indigenous population,"Total, all industries 4","18,458.7","17,398.7","18,225.7","18,906.8","19,385.9"
18,Non-Indigenous population,Goods-producing sector 5,"3,835.7","3,648.4","3,757.9","3,884.9","3,947.9"
19,Non-Indigenous population,"Agriculture, natural resources and utilities 6",720.5,679.8,679.4,685.5,689.8
20,Non-Indigenous population,Construction,"1,409.9","1,347.5","1,387.5","1,473.8","1,501.7"
21,Non-Indigenous population,Manufacturing,"1,705.2","1,621.1","1,691.0","1,725.7","1,756.5"
22,Non-Indigenous population,Services-producing sector 7,"14,623.0","13,750.3","14,467.7","15,021.9","15,437.9"
23,Non-Indigenous population,Wholesale and retail trade,"2,840.3","2,660.5","2,773.0","2,862.2","2,850.0"
24,Non-Indigenous population,Transportation and warehousing,994.9,909.8,948.1,945.5,984.0
25,Non-Indigenous population,"Finance, insurance, real estate, rental and le...","1,211.6","1,215.4","1,291.5","1,334.5","1,360.6"
26,Non-Indigenous population,"Professional, scientific and technical services","1,526.3","1,529.1","1,646.9","1,769.1","1,832.9"
27,Non-Indigenous population,"Business, building and other support services 8",734.0,664.3,653.5,667.2,661.7
28,Non-Indigenous population,Educational services,"1,289.3","1,275.5","1,398.2","1,407.9","1,440.1"
29,Non-Indigenous population,Health care and social assistance,"2,381.4","2,303.2","2,414.9","2,491.9","2,553.2"
30,Non-Indigenous population,"Information, culture and recreation",753.4,655.4,696.2,778.8,821.7
31,Non-Indigenous population,Accommodation and food services,"1,164.7",904.1,923.7,"1,002.0","1,078.7"
32,Non-Indigenous population,Other services (except public administration),761.1,674.7,688.3,680.6,733.2
33,Non-Indigenous population,Public administration,966.0,958.2,"1,033.6","1,082.2","1,121.8"

In [50]:
# look for missing values
def process_employment_df(df,row_slice_beg,row_slice_end):
    df1=df.iloc[row_slice_beg:row_slice_end]
    df_latest=df1.drop(columns=['Indigenous group 1'])
    df_final=df_latest.rename(columns={'Unnamed: 1':'Industries'})
    return df_final

ind_em_df = process_employment_df(employment_df,0, 17)
nonind_em_df = process_employment_df(employment_df,17, 34)
nonind_em_df

,Industries,2019,2020,2021,2022,2023
17,"Total, all industries 4","18,458.7","17,398.7","18,225.7","18,906.8","19,385.9"
18,Goods-producing sector 5,"3,835.7","3,648.4","3,757.9","3,884.9","3,947.9"
19,"Agriculture, natural resources and utilities 6",720.5,679.8,679.4,685.5,689.8
20,Construction,"1,409.9","1,347.5","1,387.5","1,473.8","1,501.7"
21,Manufacturing,"1,705.2","1,621.1","1,691.0","1,725.7","1,756.5"
22,Services-producing sector 7,"14,623.0","13,750.3","14,467.7","15,021.9","15,437.9"
23,Wholesale and retail trade,"2,840.3","2,660.5","2,773.0","2,862.2","2,850.0"
24,Transportation and warehousing,994.9,909.8,948.1,945.5,984.0
25,"Finance, insurance, real estate, rental and le...","1,211.6","1,215.4","1,291.5","1,334.5","1,360.6"
26,"Professional, scientific and technical services","1,526.3","1,529.1","1,646.9","1,769.1","1,832.9"
27,"Business, building and other support services 8",734.0,664.3,653.5,667.2,661.7
28,Educational services,"1,289.3","1,275.5","1,398.2","1,407.9","1,440.1"
29,Health care and social assistance,"2,381.4","2,303.2","2,414.9","2,491.9","2,553.2"
30,"Information, culture and recreation",753.4,655.4,696.2,778.8,821.7
31,Accommodation and food services,"1,164.7",904.1,923.7,"1,002.0","1,078.7"
32,Other services (except public administration),761.1,674.7,688.3,680.6,733.2
33,Public administration,966.0,958.2,"1,033.6","1,082.2","1,121.8"